{{#if user}}
    <a href="/ExpenseTracker/add">Add a new Expense Entry</a>

<table class="table table-striped table-hover">
    <thead>
    <th>What is the date of expense?</th>
    <th>what is the Account type?</th>
    <th>Description </th>
    <th>What is the amount spent?</th>
    <th>Add a note here</th>
    </thead>
    {{#each dataset}}
        <tr>
            <td>{{toShortDate this.date}}</td>
            <td>{{this.account}}</td>
            <td>{{this.description}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.note}}</td>

            <td>
                <a href="/expenseTracker/edit/{{this.id}}" class="btn btn-primary" >Edit</a>
                <a href="/expenseTracker/delete/{{this.id}}" class="btn bg-danger" onclick="function confirmDeletion() {return confirm('Are you sure?');}" >Delete</a>
            </td>
        </tr>
    {{/each}}
</table>
{{else}}
        <h1 class="text-center"> Please Log In to use the Tracking Features   </h1>
        <a href="/login" class="w-50 m-auto btn-block btn-lg btn-success text-center"> Login</a>
{{/if}}
