{{#if user}}
    <a href="/ExpenseTracker/add">Add a new Expense Entry</a>
{{/if}}
<table class="table table-striped table-hover">
    <thead>

    <th>What is the date of expense?</th>
    <th>what is the Account type?</th>
    <th>Description </th>
    <th>What is the amount spent?</th>
    <th>Add a note here</th>
    </thead>
    {{#each dataset}}
        <tr>
            <td>{{this.date}}</td>
            <td>{{this.account}}</td>
            <td>{{this.description}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.note}}</td>

            <td>
                <a href="/expenseTracker/edit/{{this.id}}" class="btn btn-primary" >Edit</a>
                <a href="/expenseTracker/delete/{{this.id}}" class="btn bg-danger" onclick="function confirmDeletion() {return confirm('Are you sure?');}" >Delete</a>
            </td>
        </tr>
    {{/each}}
</table>