<h1>{{title}}</h1>

<form method="post">
    <fieldset>
        <label for="name" class="col-2">Food Name :</label>
        <input name="name" id="name" value="{{foodItem.name}}" required/>
    </fieldset>
    <fieldset>
        <label for="mealTime" class="col-2">Meal Time :</label>
        <select id="mealTime" name="mealTime" required>
            {{createOption 'BREAKFAST' foodItem.mealTime}}
            {{createOption 'LUNCH' foodItem.mealTime}}
            {{createOption 'DINNER' foodItem.mealTime}}
            {{createOption 'SNACK' foodItem.mealTime}}
        </select>
    </fieldset>
    <fieldset>
        <label for="mealType" class="col-2">Meal Type :</label>
        <select id="mealType" name="mealType" required>
            {{createOption 'HOMEMADE' foodItem.mealType}}
            {{createOption 'STORE-BOUGHT' foodItem.mealType}}
            {{createOption 'FAST-FOOD' foodItem.mealType}}
        </select>
    </fieldset>
    <fieldset>
        <label for="descriptionFood" class="col-2">Add a description of the food :</label>
        <textarea name="descriptionFood" id="descriptionFood" placeholder="{{foodItem.description}}" required></textarea>
    </fieldset>
    <fieldset>
        <label for="eatenDate" class="col-2">Purchase/ Eaten Date:</label>
        <input name="eatenDate" id="eatenDate" required value="{{toShortDate foodItem.date}}" type="date"/>
    </fieldset>

    {{! A Button}}
    <button class="offset-3 btn-primary"> Add Entry </button>
</form>